.container {
    background-color: var(--clr-bg-default);
    width: 100%;
    height: 100vh;
}

/* == BUTTONS == */

.btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: var(--fs-xlarge);
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.btn

.btn svg {
    width: 44px;
    height: 44px;
}

/* == KEYBOARD == */

.btn-row1, .btn-row2, .btn-row3, .btn-row4, .btn-row5 {
    display: flex;
    align-items: center;    
    height: max-content;
    flex-direction: row;
}

.other-functions-btn {
    display: flex;
    flex-direction: row;
}

.numbers-btn {
    display: flex;
    flex-direction: row;
}

.secondary-functions-btn {
    display: flex;
    flex-direction: row;
}

.primary-functions-btn {
    display: flex;
    flex-direction: row;
}

.primary-functions-btn .btn {
    background-color: var(--clr-element-primary);
    color: var(--clr-font-primary);
    transition: all 0.3s ease;
}

.primary-functions-btn .btn:hover {
    background-color: var(--clr-element-primary-hover);
}

.secondary-functions-btn .btn {
    background-color: var(--clr-element-secondary);
    color: var(--clr-font-secondary);
    transition: all 0.3s ease;
}

.secondary-functions-btn .btn:hover {
    background-color: var(--clr-element-secondary-hover);
}

.numbers-btn .btn {
    background-color: var(--clr-element-tertiary);
    color: var(--clr-font-tertiary);
    transition: all 0.3s ease;
}

.numbers-btn .btn:hover {
    background-color: var(--clr-element-tertiary-hover);
}

.other-functions-btn .btn {
    background-color: var(--clr-element-quaternary);
    color: var(--clr-font-quaternary);
    transition: all 0.3s ease;
}

.other-functions-btn .btn:hover {
    background-color: var(--clr-element-quaternary-hover);
}